@import 'variables';

#footer {
  position: relative;
  margin-top: 150px;
  color: black;
  text-align: center;
  padding: 1px 0;
  background: white;
  .ce_text {
    margin-top: 50px;
    p {
      line-height: 1.6em;
    }
  }
  a {
    color: black;
  }
  .inside > .ce_text > p {
    &:nth-child(2) {
      img {
        height: 20px;
      }
    }
    &:nth-child(4) {
      display: flex;
      justify-content: space-between;
      width: 440px;
      margin: 0 auto;
      align-items: center;
      a {
        display: flex;
        img {
          margin-right: 10px;
        }
      }
    }
  }
}

#footer .mod_changelanguage {
  position: absolute;
  top: -140px;
  right: 25vw;
  z-index: 100;
  ul li a {
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 50%;
    padding: 20px;
    background: #0059ad;
    width: 100px;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    border: 15px solid black;
    transition: color 250ms;
    &:hover {
      color: $pink;
    }
  }
}

@media screen and (min-width: 1920px) {
  #footer {
    background-size: cover;
  }
}

@media screen and (max-width: $tablet) {
  #footer .inside > .ce_text > p:nth-child(2) {
    display: flex;
    width: 250px;
    margin: 0 auto;
    justify-content: space-around;
  }

  #footer .inside > .ce_text > p:nth-child(3) a {
    display: block;
  }

  #footer .inside > .ce_text > p:nth-child(4) {
    width: 100%;
    flex-wrap: wrap;
    a {
      width: 100%;
      display: block;
    }
  }

  #footer .inside > .ce_text > p:last-child {
    font-size: 11px;
  }

  #footer .mod_changelanguage {
    top: 120px;
    right: 5vw;
    ul li a {
      font-size: 20px;
      width: 75px;
      height: 75px;
      border-width: 10px;
    }
  }
}

@media screen and (max-width: $smartphone) {
  #footer .inside > .ce_text > p:nth-child(2) {
    width: auto;
    justify-content: space-between;
  }
}
