@import 'variables';

@font-face {
  font-family: 'Lemon';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/lemon.woff");
}

body {
  background-color: $background;
  font-family: 'Raleway', sans-serif;
  color: white;
}

h1 {
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-family: 'Lemon', sans-serif;
}

a {
  text-decoration: none;
}

#main .ce_text > p > a {
  color: $pink;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 0;
    background: $pink;
    transition: height 250ms;
  }
  &:hover:after {
    height: 3px;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-only {
  display: none;
}

@media screen and (max-width: $tablet) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: initial;
  }
}

@import 'header';
@import 'main';
@import 'footer';
@import 'video';
@import 'effects';
@import 'pdf';
@import 'menu';
@import 'team';
@import 'awards';
@import 'media';