@import 'variables';

@font-face {
  font-family: 'Lemon';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/lemon.woff");
}

body {
  background-color: $background;
  font-family: 'Raleway', sans-serif;
  color: white;
}

h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-family: 'Lemon', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@import 'header';
@import 'main';
@import 'footer';
