@import 'variables';

.community-map {
  width: 100%;
  max-width: initial;
  p {
    padding: 55px 15px;
    text-align: center;
    font-size: 23px;
    color: $blue;
    background-color: $pink;
    .community-map-hl {
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

@media screen and (max-width: $tablet) {
  #main .inside .mod_article .ce_text:first-child.community-map {
    width: 100%;
    p {
      font-size: 16px;
    }
    figure {
      transform: none;
    }
  }
}
