@import 'variables';

.community-map {
  width: 100%;
  max-width: initial;
  p {
    padding: 55px 0;
    text-align: center;
    font-size: 23px;
    color: $pink;
    background-color: $blue;
    .community-map-hl {
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}
