@import 'variables';

#media {
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      width: 20vw;
      height: 20vw;
      figure {
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 750ms;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

@media screen and (max-width: $smartphone) {
  #media ul li {
    width: 50vw;
    height: 50vw;
  }
}