@import 'variables';

.media-page {
  h2.ce_headline {
    width: 50%;
    max-width: 1500px;
    margin: 0 auto;
  }
}

#media-photo-gallery {
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      width: 20%;
      height: 20vw;
      figure {
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 750ms;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

#media-films {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .ce_youtube,.ce_image {
    position: relative;
    width: 45%;
    height: 20vw;
    margin: 3vw 0;
    box-sizing: border-box;
    h2 {
      /* position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      font-size: 15px;
      font-weight: normal;
      background: rgba(0,0,0,.7);
      margin: 0;
      font-family: 'Raleway', sans-serif;
      padding: 8px 20px;
      box-sizing: border-box; */
      display: none;
    }
    figure {
      height: 100%;
      iframe {
        width: 100%;
        height: 100%;
        border: none;
      }
    }
  }
}

.gallery-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: rgba(0,0,0,.8);
}

.gallery-image {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 1100;
  &.portrait {
    height: 100vh;
    width: auto;
  }
  &.landscape {
    width: 85vw;
    height: auto;
  }
}

.gallery-next-icon {
  display: none;
  position: fixed;
  top: 50%;
  right: 5vw;
  width: 70px;
  height: 70px;
  background: url("../layout/to-top-pink.svg");
  transform: rotate(90deg) translateY(-50%);
  z-index: 1100;
  cursor: pointer;
}

.gallery-previous-icon {
  display: none;
  position: fixed;
  top: 50%;
  left: 5vw;
  width: 70px;
  height: 70px;
  background: url("../layout/to-top-pink.svg");
  transform: rotate(-90deg) translateY(-50%);
  z-index: 1100;
  cursor: pointer;
}

.gallery-close-icon {
  display: none;
  position: fixed;
  top: 2vw;
  right: 3vw;
  cursor: pointer;
  font-size: 100px;
  z-index: 1100;
}

@media screen and (max-width: $smartphone) {
  #media ul li {
    width: 50%;
    height: 50vw;
  }

  .media-page h2.ce_headline {
    width: 90%;
  }

  #media-films .ce_youtube,#media-films .ce_image {
    width: 90%;
    height: 180px;
  }

  #media-photo-gallery ul li {
    width: 90%;
    height: 50vw;
    margin: 10px auto;
  }
}
