@import "variables";

.pdf-wrapper {
  width: 800px;
  height: 1180px;
  margin: 0 auto;
  clear: both;
  padding: 80px 0;
  text-align: center;
  .pdf-viewer {
    width: 800px;
    height: 1040px;
  }
}

@media screen and (max-width: $tablet) {
  .pdf-wrapper {
    width: 335px;
    height: 520px;
    .pdf-viewer {
      width: 350px;
      height: 492px;
    }
  }
}
