@import 'variables';

.program-tables {
  a {
    color: $pink;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 0;
      background: $pink;
      transition: height 250ms;
    }
    &:hover:after {
      height: 6px;
    }
  }
}

.guideline-downloads.program-downloads {
  a {
    width: 49%;
  }
}

@media screen and (max-width: $tablet) {
  .guideline-downloads.program-downloads {
    a {
      width: 100%;
    }
  }
}