@import 'variables';

.submission-boxes {
  margin-top: -120px;
}

.guideline-downloads {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  a {
    position: relative;
    display: flex;
    width: 250px;
    height: 250px;
    margin: 15px 0;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 26px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 50%;
    line-height: 1em;
    transition: line-height 250ms ease-out;
    &:first-child {
      color: $blue;
      background-color: $pink;
      &:before {
        background-color: $blue;
        color: $pink;
      }
    }
    &:nth-child(2) {
      color: $pink;
      background-color: $blue;
      &:before {
        background-color: $pink;
        color: $blue;
      }
    }
    &:last-child {
      color: black;
      background-color: white;
      &:before {
        background-color: black;
      }
    }
    &:hover {
      line-height: 2em;
    }
  }
}

#submissions-banner {
  background: $pink;
  margin-top: 0;
  .ce_text {
    text-align: center;
    box-sizing: border-box;
    padding: 1px 0;
    width: 100%;
    h3 {
      text-transform: uppercase;
      font-size: 40px;
      margin-bottom: 0;
      a {
        color: $blue;
      }
    }
    p {
      font-size: 25px;
      margin-top: 15px;
      margin-bottom: 40px;
      line-height: 0.8em;
      a {
        color: $blue;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .guideline-downloads a {
    width: 100%;
    font-size: 6vw;
  }

  #submissions-banner .ce_text {
    h3 {
      font-size: 20px;
      margin-top: 50px;
    }
    p {
      font-size: 18px;
      line-height: 1em;
    }
  }

  .submission-boxes {
    margin-top: -90px;
  }
}
