@import 'variables';

.guideline-downloads {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  a {
    position: relative;
    display: flex;
    width: 30%;
    height: 20vw;
    margin: 15px 0;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
    padding: 15px;
    box-sizing: border-box;
    &:first-child {
      color: $blue;
      background-color: $pink;
      &:before {
        background-color: $blue;
        color: $pink;
      }
    }
    &:nth-child(2) {
      color: $pink;
      background-color: $blue;
      &:before {
        background-color: $pink;
        color: $blue;
      }
    }
    &:last-child {
      color: black;
      background-color: white;
      &:before {
        background-color: black;
      }
    }
    &:before {
      content: '';
      position: absolute;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      opacity: .5;
      transition: height 250ms;
    }
    &:hover:before {
      height: 100%;
    }
  }
}

#submissions-banner {
  background: $pink;
  .ce_text {
    text-align: center;
    box-sizing: border-box;
    padding: 1px 0;
    width: 100%;
    h3 {
      text-transform: uppercase;
      font-size: 40px;
      margin-bottom: 0;
      a {
        color: $blue;
      }
    }
    p {
      font-size:25px;
      margin-top: 5px;
      margin-bottom: 40px;
      a {
        color: $blue;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .guideline-downloads a {
    width: 100%;
    font-size: 6vw;
  }
}