@import 'variables';

.home-video {
  position: relative;
  .icon360 {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 75px;
    animation: icon360 1.5s infinite;
  }
  .icon-audio {
    // display: none;
    position: absolute;
    right: 5vw;
    top: 50%;
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
    height: 30px;
    padding: 12px;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.3);
    cursor: pointer;
    animation: icon360 1.5s infinite;
  }
}

@keyframes icon360 {
  0% { opacity: 1; }
  50% { opacity: 0.25; }
  100% { opacity: 1; }
}